:root {
   --bright-red: hsl(12, 88%, 59%);
   --dark-bright-red: hsla(12, 88%, 59%, 0.808);
   ---light-bright-red: hsl(12, 80%, 71%);
   --dark-blue: hsl(228, 39%, 23%);

   --dark-grayish-Blue: hsl(227, 12%, 61%);
   --very-dark-Blue: hsl(233, 12%, 13%);
   --very-pale-red: hsl(13, 100%, 96%);
   --very-light-gray: hsl(0, 0%, 98%);
}
